<!doctype html>
<html lang="ch">
<head>
    <title>花前月下 有你有我</title>
    <link href="/static/user/css/index.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/favicon.ico" rel="icon">
    <script src="/static/public/js/jquery.main.js"></script>
</head>
<style>
</style>
<body class="skin-blue sidebar-mini MSHTML5-supported">
<div class="index-wp">
    <!-- 导航 -->
    <div class="header-w">
        <div class="header clearfix">
            <a class="logo" href="/"></a>
            <ul class="nav">
                <li class="on"><a href="/">首页</a></li>
                <li><a id="button-1" class="aa">鲜花套餐</a></li>
                <li><a id="button-2" class="aa">鲜花故事</a></li>
<!--                <li><a id="button-3" class="aa">媒体报道</a></li>-->
                <li><a href="/user/login-register">加入我们</a></li>
            </ul>
        </div>

    </div>    <!-- 焦点图 -->
    <div class="fcous-w">
        <ul class="imgbox" id="imgbox">
            <li>
                <video src="/static/user/video/13341148252527919.mp4"
                       style="width: 100%;height: 100%;object-fit: cover;position: absolute;top: 0;left: 0;"
                       autoplay="autoplay" loop="loop" muted="muted"></video>
            </li>

        </ul>
        <ul class="numbox">

            <li class="on"></li>
        </ul>
    </div>
    <!-- 高圆圆 -->
    <div class="index-mid1">
        <div class="box1">
            <div class="fbox">
                <h3 class="tt" id="t1">高圆圆的选择</h3>
                <div class="txp">
                    <p>花点时间</p>
                    <p>明星高圆圆投资的</p>
                    <p>品质鲜花电商品牌</p>
                </div>
            </div>
            <div class="imgbox"><img src="/static/user/images/gaoyuanyuan.png" width="900" height="300"></div>
        </div>
        <div class="box2">
            <div class="subbox">
                <h3 class="tt" id="t2">品质鲜花</h3>
                <div class="txp">
                    <p>精选当季时令鲜花</p>
                    <p>16 道工序 11 次质检</p>
                </div>
            </div>
            <div class="subbox">
                <h3 class="tt" id="t3">精致搭配</h3>
                <div class="txp">
                    <p>名师弟子利用 17 年美学</p>
                    <p>技巧精致搭配每期鲜花</p>
                </div>
            </div>
            <div class="subbox">
                <h3 class="tt" id="t4">快递包邮</h3>
                <div class="txp">
                    <p>200 多个城市包邮，</p>
                    <p>全程恒温运输</p>
                </div>
            </div>
            <div class="subbox">
                <h3 class="tt" id="t5">5623748 用户见证</h3>
                <div class="txp">
                    <p>已有 5623748 位女性享受花</p>
                    <p>点时间每周一花的小幸福</p>
                </div>
            </div>
        </div>
    </div>

    <!-- 列表 -->
    <div class="index-mid2" id="flower-package" style="background-image:url(/static/user/images/5.png)">
        <h2 class="g-title"><span class="ch">鲜花套餐</span><span class="x">X</span><span class="en">Package</span>
            <p class="tips">努力的你，值得每周一束花，奖励自己</p>
            <a href="/goods-list" target="_blank" class="more">查看更多</a></h2>
        <!-- <p class="more"><a href="/goods">查看更多</a></p> -->
        <ul class="shop-list clearfix">
            <li id="l1">
                <p class="imgbox"><a href="/goods_info/24"><img src="/static/user/image/1507805699751196.jpeg"
                                                                width="282"
                                                                height="282"></a></p>
                <div class="info">
                    <h3 class="t"><a id="t6" href="/goods_info/24">Nature自然系列 | 混合版</a></h3>
                    <p class="price"><span class="i">&yen;</span>99</p>
                    <p class="l"></p>
                    <p class="tip">99元/4束，每周一束，新用户赠花瓶</p>
                </div>
            </li>
            <li id="l2">
                <p class="imgbox"><a href="/goods_info/23"><img src="/static/user/image/1508215764704650.jpeg"
                                                                width="282"
                                                                height="282" alt="not-img"></a></p>
                <div class="info">
                    <h3 class="t"><a id="t7" href="/goods_info/23">Nature自然系列 | 双拼版</a></h3>
                    <p class="price"><span class="i">&yen;</span>139</p>
                    <p class="l"></p>
                    <p class="tip">139元/4束，每周一束，Pro &amp; 单品交替发花</p>
                </div>
            </li>
            <li id="l3">
                <p class="imgbox"><a href="/goods_info/10"><img src="/static/user/image/1507806243162714.jpeg"
                                                                width="282"
                                                                height="282"></a></p>
                <div class="info">
                    <h3 class="t"><a id="t8" href="/goods_info/10">Nature自然系列 | Pro版</a></h3>
                    <p class="price"><span class="i">&yen;</span>169</p>
                    <p class="l"></p>
                    <p class="tip">169元/4束，每周一束，新用户送花瓶</p>
                </div>
            </li>
            <li id="l4">
                <p class="imgbox"><a href="/goods_info/25"><img src="/static/user/image/1532681504303496.jpeg"
                                                                width="282"
                                                                height="282"></a></p>
                <div class="info">
                    <h3 class="t"><a id="t9" href="/goods_info/25">即将开售 | 食品专场</a></h3>
                    <p class="price"><span class="i">&yen;</span>99</p>
                    <p class="l"></p>
                    <p class="tip">花点食品专场即将开售，敬请期待</p>
                </div>
            </li>

        </ul>
    </div>
    <div class="index-mid3" id="honor" name="honor">
        <!--占位符-->
    </div>
    <!-- 鲜花故事 -->
    <div class="index-mid4" id="flower" name="flower">
        <h2 class="g-title"><span class="ch">鲜花故事</span><span class="x">X</span><span class="en">Story</span></h2>
        <div class="stroy-focus">
            <div class="fimgbox clearfix">
                <ul class="clearfix" id="ul1">
                    <li id="uu1">
                        <p class="imgbox">

                            <img src="/static/user/images/s/1.png" width="360" height="284">

                        </p>
                        <div class="info">
                            <p class="timebox"><span>2016-05-12</span>M***耶</p>
                            <h3 class="t">Nature自然系列 | MIX版</h3>
                            <p class="tip">
                                每周六一起床就能收到花，周周准时，好开心呀。送来的花都很新鲜，包装上也很用心，损坏的花材很少。物流靠谱，给快递小哥点赞。</p>
                        </div>
                    </li>
                    <li id="uu2">
                        <p class="imgbox">

                            <img src="/static/user/images/s/2.png" width="360" height="284">

                        </p>
                        <div class="info">
                            <p class="timebox"><span>2017-03-17</span>张***茹</p>
                            <h3 class="t">Nature自然系列 | PRO版</h3>
                            <p class="tip">
                                这是一次送来的，花量好大，一个花瓶都插不下，多的花材被我胡乱装到一个花瓶里，是不是也挺好看的~~</p>
                        </div>
                    </li>
                    <li id="uu3">
                        <p class="imgbox">

                            <img src="/static/user/images/s/3.png" width="360" height="284">

                        </p>
                        <div class="info">
                            <p class="timebox"><span>2017-03-24</span>麻***打</p>
                            <h3 class="t">WOW肯尼亚玫瑰系列</h3>
                            <p class="tip">
                                肯尼亚玫瑰真的和市面上见到的普通玫瑰不一样，超大超美，这种颜色的玫瑰我之前在国内都没见过，炒鸡惊喜。</p>
                        </div>
                    </li>
                </ul>
                <ul class="clearfix" id="ul2">
                    <li id="uu4">
                        <p class="imgbox">

                            <img src="/static/user/images/s/4.png" width="360" height="284">

                        </p>
                        <div class="info">
                            <p class="timebox"><span>2017-05-27</span>小***说</p>
                            <h3 class="t">Nature自然系列 | 混合版</h3>
                            <p class="tip">
                                今天收到了美美的向日葵和玫瑰，上星期的康乃馨还开的很好，我就把两周的放在了一起，红色康乃馨到现在还是活力满满，跟刚送来的一样鲜活。</p>
                        </div>
                    </li>
                    <li id="uu5">
                        <p class="imgbox">
                            <img src="/static/user/images/s/5.png" width="360" height="284">
                        </p>
                        <div class="info">
                            <p class="timebox"><span>2017-06-15</span>长***呢</p>
                            <h3 class="t">Nature自然系列 | PRO版</h3>
                            <p class="tip">
                                每次送来的花都很新鲜，颜色搭配的也好看，关键是还有特别详细的插花养护攻略，跟着学学插花。每周的花卡我都舍不得扔，到现在都攒了好多~</p>
                        </div>
                    </li>
                    <li id="uu6">
                        <p class="imgbox">

                            <img src="/static/user/images/s/6.png" width="360" height="284">

                        </p>
                        <div class="info">
                            <p class="timebox"><span>2017-07-14</span>E***y</p>
                            <h3 class="t">Nature自然系列 | 单品版</h3>
                            <p class="tip">羞答答的小绣球
                                ，颜色好美，萌得心都化了。都说绣球不好养，看了公众号上的绣球养护攻略，开一周妥妥的~~</p>
                        </div>
                    </li>
                </ul>
            </div>
            <span class="lbar" onclick="change()"></span>
            <span class="rbar" onclick="change()"></span>
        </div>
    </div>


    <!-- 底部 -->
    <div class="footer-w">
        <div class="footer">
            <div class="linkbox">
                <div class="box">

                </div>
                <div class="box">
                    <a href="#">特别感谢</a>
                    <p>
                        -----<a href="https://element.eleme.io/#/" target="_blank">ElementUI</a>
                        -----<a href="https://openai.com/" target="_blank">OpenAI</a>
                        -----<a href="http://www.cssmoban.com/" target="_blank">模版之家</a>
                        -----<a href="https://www.hua.com/" target="_blank">花礼网</a>
                        -----<a href="#" target="_blank">模版小贩</a>
                        -----<span style="font-size:20px ">对本作品的大力支持</span>
                    </p>
                </div>
            </div>
            <div class="yz-box">
                <a href="#" rel="nofollow"><img src="/static/user/image/1497869593796932.jpeg"></a>
            </div>
            <p class="cp" style="text-align: center;"><a target="_blank" href="#"
                                                         style="margin-left:5px;color: #707070;">© 2023 花维生活（成都）电子商务有限公司
                版权所有</a> |<a style="color: #707070;" href="https://www.beian.miit.gov.cn">蜀 ICP备 16023218 号-1</a>
                |<a
                        target="_blank" href="#" style="margin-left:5px;color: #707070;"><img
                        src="https://misc.reflower.com.cn/images/cms/jingPublic.png"
                        style="width:12px;margin-left:5px;margin-right: 5px;"
                        alt=""/><span>蜀公网安备 1101100110011号</span></a>
            </p>
            <p class="cp" style="margin-top: 0px !important;">公司名称：花维生活(成都)电子商务有限公司 |
                地址：四川省成都市双流区北苑东路19号院3号楼12层1208 | 联系方式：010-85900319
                | 营业执照统一信用代码号：91110105339815903Q | 食品经营许可证编号：JY11105322005941</p>
        </div>
    </div>
</div>
<div class="index-bar">

</div>
<script src="/static/user/js/index.js"></script>
</body>
</html>